.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* Adjust the gap value as needed */
}

h1{
    text-align:center;
}

input{
    margin-left:30px;
}

div{
    margin: 1em;

}

.zone{
    background-color:rgb(150, 150, 150);
    padding:1em;
    border-radius:5px;
}

form{
    padding:1em;
    border-radius:5px;
}

.header{
    text-align:center;
}